# Ignore secret codes
.env

# Ignore Python bytecode files
.idea/
.vscode/
.DS_store
*__pycache__*

# Ignore the virtual environment directory
surv/
venv/

# Ignore the datasets directories
pkgs/
custom/
fold/
output/
figures/
resources/

# Ignore the pip cache
pip-wheel-metadata/
*egg-info*
build/
dist/
